body {
	background-image: url(../images/world1280.jpg);
	background-size: 100% auto;
}

.container {
	width: 700px;
	height: 700px;
	background-color: rgba(255,255,255,0.6);
	margin: 20px auto;
	font-family: Arial, Helvetica, sans-serif;
}

.game-title {
	padding: 20px;
	font-size: 50px;
	text-align: center;
}

.timer {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(255,0,0,0.6);
}

/*amount of space for game-body to fill up = 700-90-60 = 550 height;
height - padding of 20 px = 510 for the "height"*/

.game-body {
	height: 450px;
	padding: 50px;
}

.start-button {
	font-size: 20px;
	padding: 20px;
	margin: 30px auto;
	text-align: center;
}

.question-text {
	font-size: 20px;
	padding: 20px;
	height: 80px;
}

.option {
	font-size: 20px;
	padding: 20px;
	margin-top: 10px;
	text-align: center;
}

.start-button:hover, .option:hover {
	background-color: blue;
	color: white;
}

.start-button:active, .option:active {
	background-color: green;
}

.answer-text {
	font-size: 30px;
}

.answer-reason {
	font-size: 20px;
	text-align: center;
	margin: 20px;
	height: 80px;

}

.answer-image {
	margin: 20px;
	width: 560px;
	height: auto;
	max-width: 560px;
	max-height: 350px;
}
